fastapi
uvicorn
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
sentence-transformers
python-dotenv
requests
supabase
jinja2
langchain-groq
langgraph
redis
langsmith
neo4j
qdrant-client

langchain-text-splitters
langchain_core
langchain
pydantic
